body {
	background: url("http://sweetclipart.com/multisite/sweetclipart/files/nature_settings_simple_landscape_1.png");
	background-size: 100%;	
} 

#abby {
	position: fixed;
	z-index: -1;
}

#etch {
	background: red;
	height: 570px;
	width: 570px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -145px;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)
}

#container {
	display: inline-block;
	border: 7px inset;
	border-radius: 5px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#logo {
	display: block;
	text-align: center;
	position: relative;
	font-family: Cursive;
	font-weight: bold;
	color: white;
	top: -5px;
	font-size: 2em;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.squares {
	display: inline-block;
	float: left;
	background: black;
}

#newRow {
	clear: both;
}

.button {
	background: #6600CC;
	color: white;
	border: 2px solid black;
	height: 40px;
	width: 100px;
	font-family: Courier;
	font-size: 16px;
	position: relative;
	margin-left: 160px;
	top: 60px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)
}

.button:hover, #container:hover {
	cursor: pointer;
}

#clear {
	height: 70px;
	margin: auto;
	float: right;
	right: 200px;
	top: 50px;
	position: relative;
}

#sketch {
	text-decoration: line-through;
}
